<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
">
    <util:properties id="stores" location="classpath:/stores.properties" />
    
    <context:component-scan base-package="ua.com.codefire.shopoffline.cms.web" />
    
    <mvc:view-resolvers>
        <mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
    </mvc:view-resolvers>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <bean class="ua.com.codefire.shopoffline.cms.web.interceptor.AdminInterceptor"/>
        </mvc:interceptor>
        
        <bean class="ua.com.codefire.shopoffline.cms.web.interceptor.CartInterceptor"/>
    </mvc:interceptors>
    
    <mvc:annotation-driven />
    <mvc:resources mapping="/res/**" location="/res/" cache-period="60000" order="0" />
    
</beans>
